*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    height: 315vh;
    width: 100%;
   background-image: linear-gradient( #181D31,#678983);
    background-position: center;
    background-repeat: no-repeat;
}
.pas {
    position: relative;
    bottom: 10px;
}
.loginPage{
    width: 100%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 50px 60px 70px;
    text-align: center;   
}
.loginPage h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #678983;
    position: relative;
}
.loginPage h1::after {
    content: '';
    width: 100px;
    height: 4px;
    border-radius: 3px;
    background: #678983;
    position: absolute;
    bottom: -12px;
    text-align: center;
    transform: translateX(-90%);
}
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i {
    margin-left:15px;
    color: #9999;
}
form p{
    position: relative;
    top: 20px;
}
form p :hover {
    cursor: pointer;
}
form p input{
    background-color: #678983;
    width: 70%;
    border-radius: 30px;
 
}
