*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left top,#121920, #536976);
 
}

.header a{
    padding: 0 27px ;
    color: #DFDFDF;
    font-size: 30px;
}
a{
    text-decoration: none;
    color: white;
    list-style: none;
}
/*왼쪽 사이드 메뉴*/
.side-menu{
    width: 200px;
    height: 100%;
    border: solid;
}

.bar-links{
    list-style: none;
    position: relative;
    top: 110px;
}
.bar-links li{
    padding: 10px 10px;
}
.bar-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.bar-links li a i{
    font-size: 22px;
    margin-right: 20px;
}
/*윗상단 메뉴*/
.navbar {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style:outset;
    border-color:white;
    padding-bottom: 15px;
}
.navbar-top {
    list-style: none;
    display: flex;
    position: relative;
    right: 70px;

}
.navbar-top i{
    color : white;
}
.navbar-join{
    border-style: outset;
    border-color: red;
    border-radius: 30px;
    padding: 10px 10px;
}
.navbar-login{
    border-style: outset;
    border-color: blue;
    border-radius: 30px;
    padding: 10px 10px;
}
/*검색창 관련부분*/
.search-bar{
    position: absolute;
    display: flex;
    width: 100%;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -67%);
    border-radius: 60px;
}
.search-bar input{
    border-radius: 15px;
    flex: 1;
    border:0;
    outline: none;
    padding: 20px 10px;
    font-size: 15px;
}
.search-bar i{
    width: 25px;
    font-size: 24px;
}
.search-bar button{
    position: relative;
    top: 14px;
    right: 33px;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 22px;
    cursor: pointer;
    color: #181D31;   
}
/*메뉴 눌렀을때 hover효과 주는 부분
.active{
    background: #999;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255,255,255,0.4);
    display: none;
    transition: top 0.3s;
}
.bar-links li:hover a{
    color:#FFF;
    transition: 0.3s;
}
.bar-links li:hover ~ .active{
    display: block;
}
.bar-links li:nth-child(1):hover ~ .active{
    top:2.6%;
}
.bar-links li:nth-child(2):hover ~ .active{
    top:29%;   
     
}
.bar-links li:nth-child(3):hover ~ .active{
    top:54%;    
}
.bar-links li:nth-child(4):hover ~ .active{
    top:79%;    
*/
.footer{
    position: relative;
    bottom: auto;
    width: 100%;
}