*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #121920;
}
.header {
    padding-top: 30px;
    padding-left: 15px;
    padding-bottom: 20px;
}
.header a{
    color: #DFDFDF;
    font-size: 35px;
}
a{
    text-decoration: none;
    color: white;
    list-style: none;
}
/*왼쪽 사이드 메뉴*/
.side-menu{
    width: 200px;
    height: 100%;
    border: solid;
    border-right-color: #848484;
    position: relative;
}

.bar-links{
    list-style: none;
    position: relative;
}
.bar-links li{
    padding: 10px 10px;
}
.bar-links li a{
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}
.bar-links li a i{
    font-size: 22px;
    margin-right: 20px;
}
/*윗상단 메뉴*/
.navbar {
    width: 88.4%;
    height: 37px;
    position: absolute;
    top: 50px;
    left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-style:outset;
    border-color:white;
    padding-bottom: 15px;
}
.navbar-top {
    list-style: none;
    display: flex;
    position: relative;
}
.navbar-top i{
    color : white;
}
.navbar-join{
    position: relative;
    top: 20px;
    left: 100px;
    background-color: #1F252C;
    font-style: bold;
    border: none;
    border-radius: 30px;
    padding: 10px 10px;
}
.navbar-login{
    position: relative;
    left: 100px;
    top: 20px;
    border-style: outset;
    border: none;
    background-color: #9747FF;
    color: #D7BAFF;
    border-radius: 30px;
    padding: 10px 10px;
}
/*검색창 관련부분*/
.search-bar{
    position: absolute;
    display: flex;
    width: 1200px;
    height: 50px;
    border-radius: 60px;
    left: 70px;
    bottom: 15px;
}
.search-bar input{
    border-radius: 15px;
    flex: 1;
    border:0;
    outline: none;
    padding: 20px 10px;
    font-size: 15px;
}
.search-bar i{
    width: 25px;
    font-size: 24px;
}
.search-bar button{
    position: relative;
    top: 14px;
    right: 33px;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 22px;
    cursor: pointer;
    color: #181D31;   
}
.sort{
    color: #9c9c9c;
    position: absolute;
    top: 110px;
    left: 280px;
}
.sort select{
    color: #9c9c9c;
    background-color: #1F252C;
    border-radius: 13px;
    width: 210px;
    height: 35px;
}
.filter{
    color: #9c9c9c;
    position: absolute;
    top: 110px;
    left: 500px;
}
.filter select {
    color: #9c9c9c;
    background-color: #1F252C;
    border-radius: 13px;
    width: 210px;
    height: 35px;
}
.content{
    position: absolute;
    width: 1300px;
    height: 170px;
    border: 1px solid gray;
    border-radius: 13px;
    background-color: #1F252C;
    top: 185px;
    left: 280px;
}
.content h2{
    position: relative;
    color: #DFDFDF;
    padding-left:40px;
    padding-top: 30px;
    font-size: 32px;
}
.sub{
    position: absolute;
    color: #9c9c9c;
    padding-left:40px;
    font-size: 17px;
}
.tag-title i{
    position: absolute;
    color: #9c9c9c;
    padding-left:40px;
    bottom:30px;
    font-size: 15px;
}
.write-date{
    position: absolute;
    color: #DFDFDF;
    font-size: 17px;
    left: 90%;
    bottom: 70%;
}
.click-btn{
    list-style: none;
    text-decoration: none;
    position: absolute;
    font-size: 20px;
    display: flex;
    top:62%;
    left: 80%;
}
.up-icon, .down-icon, .comment-icon{
    padding: 10px 10px;
    color: white;
}
.up-icon i{
    color: rgb(132, 228, 132);
    padding: 10px 10px;
}
.down-icon i{
    color: rgb(205, 47, 47);
    padding: 10px 10px;
}
.comment-icon i{
    color: rgb(89, 89, 228);
    padding: 10px 10px;
}
.footer{
    position: relative;
    bottom: auto;
    width: 100%;
}