*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #121920;
}
.side-menu{
    border: 1px solid white;
    width: 200px;
    height: 100vh;
    position: relative;
}
.title-name h2{
    color: white;
    padding: 10px 30px;
}
.bar-links{
    list-style: none;
    position: relative;
    padding: 10px 15px;
}
.bar-links li{
    padding: 10px 10px;
}
.bar-links li a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.bar-links li a i{
    font-size: 24px;
    margin-right: 20px;
}
.nav-menu{
    border: 1px solid green;
    position: absolute;
    top: 0;
    left: 200px;
    width: 100%;
}
.search-bar{
    position: absolute; 
   width: 1000px;
   

    border-radius: 60px;
}
.search-bar i{
    width: 25px;
    font-size: 24px;
}
.search-bar button{
    position: relative;
    top: 14px;
    right: 33px;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 22px;
    cursor: pointer;
    color: #181D31;   
}
.main-cover{
    border: 1px solid pink;
    position: absolute;
    top: 24px;
    left: 200px;
    width: 100%;
    height: 98.5%;
}
.content-box{
    border: 1px solid red;
    width: 1000px;
    height: 200px;
    position: relative;
    left: 100px;
    top: 100px
}